[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

.vs/
.idea/
.vscode/

*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

.DS_Store
Thumbs.db

sysinfo.txt

.gradle/

ExportedObj/

# Unity Version Control / Plastic SCM
.plastic/
ignore.conf
